/* css reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS variables */

:root{
    --navbar-height: 59px;
}

/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;


}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* nav bar= logo and image */
#logo{
    margin: 10px 34px;

    
}

#logo img{
    height: 59px;
    margin: 3px 6px;


}

/* nav bar= list styling */



#navbar ul{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}



#navbar ul li{
    /* color: azure; */
    list-style: none;
    font-size: 1.3rem;
    
}

#navbar ul li a{
    color: rgb(241, 77, 7);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    
}

#navbar ul li a:hover{
    color: rgb(6, 11, 16);
    background-color: aliceblue;
    
   
    
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 610px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background:url('bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 616px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

}

#home h1{
    color: rgb(126 15 0);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#home p{
    color: rgb(22, 3, 85);
    text-align: center;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* services section */

#services{
    margin: 4px;
    display: flex;

}
#services .box{
    border: 2px solid brown;
    padding: 34px 9px;
    margin: 25px 15px;
    border-radius: 28px;
    background-color: rgb(212 182 213 / 39%);
    margin-bottom: 20px;
}

#services .box img{
    height: 160px;
    margin: auto;
    display: block;
    
}
#services .box p{
    font-family: 'Times New Roman', Times, serif;

}

/* client section */

#client-section{
    position: relative;
    height: 344px;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg1.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.64;
    
}



#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img{
    height: 124px;
}

.client-item{
    padding: 34px ;
}

/* contact section */

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;
}

#contactbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contactbox input,
#contactbox textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contactbox form{
    width: 40%;

}

#contactbox label{
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
}






footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}









/* utility classes */
.h-primary{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.0rem;
    padding: 20px;

}

.h-secondary{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.0rem;
    padding: 10px;

}

.btn{
    padding: 6px 20px;
    border: 2px solid rgba(234, 235, 237, 0.991);
    background-color: brown;
    color: aliceblue;
    margin: 17px;
    font-size: 1.0rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}



